Source: videoeditor
Section: user/multimedia
Priority: optional
Maintainer: Robert Swain <robert.swain@collabora.co.uk>
Build-Depends: debhelper (>= 5), libqt4-dev, libgstreamer0.10-dev, libgstreamer-plugins-base0.10-dev
Standards-Version: 3.7.3
Homepage: http://github.com/superdump/Video-Editor/

Package: videoeditor
Version: 1.5.0
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer0.10-plugins-bad (>= 0.10.22-0maemo18), libges-0.10-0 (>= 0.10.1.1-0maemo3.1+0m7)
Description: Video editing in the palm of your hand
 VideoEditor is a video editing application using GStreamer Editing Services
 and GStreamer.
 Video clips can be added to a timeline, reordered, trimmed to adjust
 transitions within the composition. The composition can be previewed and
 exported to a new file. The touch interface allows easy editing, zooming
 and navigation using common gestures like taps, drags and pinches.
 This application was developed by Collabora Ltd.
XSBC-Maemo-Display-Name: VideoEditor
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
 bWFnZVJlYWR5ccllPAAAD9NJREFUeNrkWwtwVNUZPrvZV15kw7tASgDbykMSEVRakRWklvogUh+A
 MGDHVh52hhmEOlMdobV1ah1ldNSWKkUonRE6EhyYCggkjMBAUEMAlZckhDeBPJZkN7vJbr/vcm7m
 7N17N7sJZtrxzJy5e849/zn/+//POXdtootKc3Pzj6LRaF+zd0uWLIlp5+XlXVi8ePHRrsDLcSMn
 27hx4/jS0tLRIDS/paVlhNPp7BsOh2/mu5qaGpGbmxsHs2fPHuH3+2P6Tp8+rTHlueeeEx6P5zDB
 Ufk8gVqekZFR+j/BgGvXrg3Eo4jVZrP53njjDXHu3DkRCoX4Th8jJk2aJLKzswWYEjfHW2+9JS5e
 vBjXP3PmTOFwOAgzgm3Ojypqa2vF/PnzRVpa2qbW1tZP8Kr47bffrupSBoCo2Xg8BUnfhSpYDx48
 KD766CPT8TNmzBCRSCSuf9u2beLChQtx/ZmZmeKhhx4yhVmxYoU4cuSIyMrKeiAnJ4d1+YIFCz4d
 MWLEu/PmzXs/VVrsqQx+5plnfvHNN9+cAmKrIJm7oN6aVCEJsXr1ag1hY50wYYLo1auX6TsrGBIP
 NY/rP3/+vNi6dasIBoOaSZ08eVKUl5fzededd965qqGh4RTqlBuuAcuWLetRXV397/79+/u8Xq+m
 4mqpqKjQNOBGSX/KlCmmMGvWrInrZxt40XFSGPl2u724rq5uE60IuNZ3WgMg9duqqqpOgOM+cFmT
 uFEyOmLGOnHiREvpW8GQ+PT0dFPpb9myxRRm+vTp2pO4UTjQyAdglpXwFwWdYsBslKampp1ggBe2
 JoYNGyZ0m1dtn2pohhilbxzPSjUmQcbxJJzqbwZjxTDYvrjllltixpIRME/vSy+9VPL888//uEMM
 mDt37m20ddh8Nu1NV+Vk7TiR9K1gKH0r27eSvhVeH3/8sfjss8+8EN7mWbNmFaTEAEw6ELH5E8bj
 q1evalxmNS5CyVMDzCRmhRgJoe0bx5Nw3fObMcxsDSu8dBjiDhq8aJcAn5yknSAmXwVg75UrVxI6
 MjOnxHLvvfe2ST9ZGNXzq4U5Ak2mow6WNMC0vD179lzDZYxjbcYOhK3ZcCSrvv76ay28de/eXdxx
 xx1xi3Di/fv3myI2fvx4jRhjOXPmjDh06FC8FJDw+Hw+gcwx7h0jzNmzZ+P6rfBiKSkpEYFAoK2N
 pEkMHz6cz6IdO3ZsTKgBsN2ltPmhQ4dq7d69e4vHHnssbpFLly6JdevWmSLALI7h0oyYXbt2xfUT
 wSeffJJpb9y7nTt3aomPsVjhxcKwiFAY04fESYwePXp5QgZMnTp19t69e/OPHz8eAzxmzBgxcuTI
 mD6mtkxLzSTqcrnEokWL4voLCgrE66+/LhobG+Pe9evXT2OcsVDK77zzjimhZnix3HTTTeK1116L
 64cm5R84cGA2GNGWMaapA0aNGrUKTqMv1Ud1NrQn2rXRCVEKtDdjPzM0jmdSo/ZTxbEr1DTBDGby
 5MnaGLWfc3B9vjfCWOE1ePBgzW9wH6L2M4NE8cJE4hmATG8wJPMydnOaY1EB6YgYa0mwkQGMAnxv
 RII7vLFjx5oit2nTJi1hUfvZJvHGmK7DbNiwIa7fCi+dcdxpqn1kPvxNPvYOqzZv3lwfEwbh8IrG
 jRsn3G53SpmbVbhLlOzoqa6xfvjhhxrjjP2MKMwrUsHLLA9hgkStAfFFcXkABsyiE7JCjjHfLONL
 FIutkGPIM0t3STyZkCjdTRYvK+HQOVLYMQyAetjxspAcskJOJ+hGJT3taYGZv0mkBWZ4mWkB/QKe
 vhgfAO97NzrnkAG0Q9qjWYZHYhL5AjNiuaCZLxg0aBBVUbNLo52m6gus8DLzBcxtunXrxkhRcurU
 qSq7VH8fXxj342ZctcrjU9346KmvGQy1APt6S1+QCl66FqhjscEjIwrbTAAD81UGJMrLrXZ/HfEF
 VlvfRL7Aytza25WqbYZ50tyWCH311Vf5VFUyQS/5+fk8h9NjZ0xhYvL000/H9SOPEGVlZXH9DHt8
 Z5Yd3nrrrWL79u1x/R988IGW0Jhlh2Q0dnpJ40UNIKP17JDahcywsG0v8Oijj9ZevnzZaySWtsU+
 u92uMUMtZJBZqaysNO0n8WYM4PxmJ0Msffv2NWVAIhgrvEi8zgAyY8CAAZVIiAY55IRe5v/GwvyZ
 1azU15ufNpkdfXcUhg6RNRUYqzUoQB2GAkUqf90EHnzwwRy+ZOd3qega7YBXLKTt0zt+lwqd4f33
 31/g4A/alBUDaLdm+3SjffGIPBUYtcD/xLQJa+YvrArXNm5/2yukGbtWr0MPDVYM4HaTCUaiwgMI
 lYhkYNSyfv36mDYPYHmokmzh2QQ3cakUJn08iHGo8dHieKxd8+B7FT4ZGKM6prpmovWTXZPVoW59
 Ey3QHgLGMakS0BkGpLqeyrR2TeDzzz/XTngSFZ4MqfDJwCRCnqe5PApLtuhnCx3SAGZbdCKp2Kyx
 9OzZs1MeubPw+pFaKkV31A4mB/ousLOFOy8WszO/ZAqFQIfWFYVnmpoT3L17t6ZC+h2Ael6un5fR
 vUSVPv5ulU9jjs5y+PDhtjnsEl5tR5U51TJt2rSYfYFdWU9f32ZYX59TXyeitIUcZ+Yee/TooZmp
 qQ8gsBt1SGuLKGgOig0ZWYL3wXMaG0R3jN3lyRBfOF1aX9TElvkkYvQC+ZgjF3WfyyOGh0PivmCT
 aEDWuTqzm2g2IKc6PxL+SNM1MRCwx7HWDqxJ+LsBXw/4lYDn+k65xhSMJbFr2I/3c/112tx73B6x
 B2tHLHyAXWWAtjhqGurkQKN4ua5GFAWuiVy0h7SERdCeJs6408U8TJ5FIk325focTtQeqH/CHI2A
 c+N390irOJCeKQZivfHNAaahsXA6EyV8f4wvz8gW87FeP7SXYa6TaBfCZO8DfoTPQf1d/VVRDbzS
 kd7OACMGoG8MmHXF5Ra1WNtugWcbA3gxYdxD7wbXXvT2ApGCaiIu2OwaJ7+PiWswqTDZd+sT2/Db
 jfoTEFmPsdOhOS609zlcIheMHA6tqrOlcXERNcLLPs5fnJ4lemH8JeBHHJxSOy85nGII8OA6HtRz
 aN8Ozbg9GBBHoC294dQz0T8M6wSpi4Z1dJqxXh2YEy03cqaFR1k82o5K65P9E8D1IZj0vawcEZKS
 Egk04PFr9aLK6RaFoWYxgF+SoM+BfQd2HqJPa1iTjM0wR0T5PTwUFI/4a8Wb2bkiiDbNaP7Vi+Kn
 mLcR0rbJdUgs4ZrQ1wvrnIYJ/B0whzneX2sp/X379h20l5WV1avS40RENMAJpVqyLw92NhESfTfb
 K5rl2AJIwZHAFI6D+F6Ay8L83wPBNK39QKrUnSF6A9FcqPhgvE8zMEFnIH3Om926iyuQYiPa66H+
 r0ArqyHxcmgTcaJZcY1ivKNvGtgS0saeABOarExUyT4d8k6gDiHBq29oOITfczWgHklzigYefEJy
 VNlFsMOjQGCtJ1M8DLX7Ek6nRffUcvIwntyVvwoVZoSfIdWf9jkJUr0A9VsOOGpGt2hEVLkzYjM0
 6RzDmG4u7Ju/F+T0EFPAkB/AJD4BE79Ic4j5TX5Nyv+B/T8OSdPsXs3MEUOxxq+xlh8a8VsILCTn
 VC9jQXNl24kQNi876+vrfepnbDbpYZ2SGSwZst0sq02+0xnAk1kW3hfaJHfd8l1Yjk+XoUmPIHYJ
 z74ZTzwh1q5de31HyAMZ+QzJ6pBzNMt2mpwvTc7TrIxzyTUDJmGQ4Q95QElFRcU9DnkpWknpGz9+
 UuOueosSNYY/4w5SMsLqiwwVXp1fv2NQcwabIY8wrm034KHiapZr6AxA4lfOO0qNAevWravk0VNH
 Mzg1YYko7VZDwmRTcgwhJR+RYyOGpEVPulQGORTCWgzX260KE1otCFeP+sCEStUHlPCIqCOnQkTI
 I9WV0E2SwGypkrXyqau1V1abHBuSakx1rZN9EYlYppxXN5dsOZZq7Zdre+X4RjlnSPquUAImkFbQ
 XN7GAIZCnQEqE4YMGaJVq7Jt61Zt0ZHwxAtDTeIaUHoBztEHRzUrHBBbEAVWO9xCNywSNBZj5zc3
 as71X6508XAoIEYhQvzTlSG2w7EFFMk+FQ6KifDqxc50UQbH+wTGjsTY99yZ4kvkF8Ph/ceivRHz
 eDHvNOBwHvnFi3CqYQsT0M8+jx49WtpmQseOHasnE2RyEHOt1KdPH8uqjyP33wRSLeDGGBBfCWYu
 8mSLcQiTbhkmGfMzGNqam8AkyBXe/2YQsAPR4UW0Z6LfZQipFXaH+APm+TkYMRJjPYB5FmN/GWwU
 +SB4bEuzuLnlej5BLfsbcHCD5GEYKyxCoKSxJM6HQCWKjQxItl6CHvRBmPw+6qeQzCFkja8E/Ncj
 AZMfyQASl4naALF8andqCUwG6p8xtgwaQQa45FjWSsyzANqyl+94+wOG1Eav2/8ZzP4XaEaLzFOu
 os1QnYdaAbhWQ1KlMoC0xn0ig8SgGOqxVN3U8E6vvZMicjAfkpkL9VvqytQ4Tx+wGNJYEfRrWaXL
 YJ/UhMGQYA0QPQqGLQHc70ONMBdXW5jkHL+BGR2DSm8BA6juP4y2ip5gAoxVy1L92tioFucHAIdp
 MJFlMCWNcBP114//SWscA6qqqg7m5eWVY0Chng/w9sXqBkb31ESWdnoZxDwMlfwHkJ0Ku+wNJA6D
 ONiWeAEq/EenR0P4BMb9CoiOicBPuLLEs2Ac8/VDILQPiJwMxvzVcX2nSbWvSLOJaYB/N80FnxAQ
 faEJhzH2kjQ9YnoWv38GHJgKTwUOV4BDPdaJmnyMxW8Gq6urq0w/k+vXr99sfiPI29NUooBbRoKI
 kiDpYTBsOFdwKGEwrPRFldCmhzSPjBxh+c4p5+LvoBznlPAO5V1ASc7UwktfaMGcc+fOvW/5naDP
 5zuFQfnqRWm7tyyJzvsMSYwtmTPCFMZZrW8mfX5AzftAYZFI6edzSzlYPaBor0YSVOMuL5JETWVc
 tJ13bQcsoGnQoEELkxIemLATGuBTb3v+nwvPO8GAkpqamnuM76y+FZ4DM2By5G3vwiHRDbJZSeRU
 v40ir/brQFNRSubr9Xp5N1VCLUjEBH7gwJpsWblyZZcSD+nX8Q9XtbW1B62cuNWFZyk/nNI/jkjk
 A1K9kemKqsT8hVbEW5qAXhoaGt6HeiOztRVbmUNH7vG6UO19fr//YEcjmBo/BzI/4ITGI3ReMKTi
 A5hdfpsfPcgIxt1tEfKZdv80ZUtlAY/Hw0RpKf8Z2hH1/zYJl5XaujAYDG68ETlMorBCRjCmFnaV
 WlsRLgsj1nI47JT/OGnrDAIOh4OmUSRDjK+L6S+RvqkYe5cO/3XWdoOdz3j6CW4QDbUzpVKplHQ5
 /NAN+/O0rQslNj7F8aVdgdR/BRgATSOiQuAjd9kAAAAASUVORK5CYII=

